@font-face {
  font-family: "Press Start 2P";
  src: url(../fonts/PressStart2P-Regular.ttf);
}
.div-maxcontent {
  border-radius: 10px;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  background-color: #dc143c;
  width: auto;
}

.contenedor {
  align-content: center;
  overflow-y: scroll;
  overflow-x: hidden;
  height: auto;
  width: max-content;
}
.btn-poke {
  margin-top: 10px;
  width: 300px;
  height: 50px;
  background-color: #ffdab9;
  border-radius: 8px;
  align-items: center;
  display: flex;
  justify-content: left;
}
.h3-style {
  font-family: "Press Start 2P", cursive;
  font-size: 16px;
  text-align: left;
  color: #000000;
  margin-left: 30px;
}
.poke-dexcont {
  width: fit-content;
  height: auto;
  border-radius: 10px;
  background-color: #dc143c;
  align-items: flex-start;
  display: flex;
  padding-top: 50px;
}
.div-img {
  border-radius: 10px;
  background-color: #f1f2d3;
  width: 200px;
  height: 150px;
  align-items: center;
  display: flex;
  justify-content: center;
}
#poke-img {
  height: 150px;
  width: 150px;
  border-radius: 10px;
}
.idv-contelement {
  margin-top: 10px;
  border-radius: 10px;
  background-color: #dedede;
  width: 300px;
  height: 200px;
  align-items: center;
  display: flex;
  justify-content: center;
}
.div-data {
  margin-top: 10px;
  border-radius: 10px;
  margin-left: 0px;
  margin-right: 0px;
  background-color: #112e29;
  width: auto;
  height: max-content;
  padding: 20px;
  max-width: fit-content;
  min-width: 300px;
}
.div-datamv {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;

  margin-top: 10px;
  border-radius: 10px;
  margin-left: 0px;
  margin-right: 0px;
  background-color: #112e29;
  width: auto;
  height: max-content;
  padding: 20px;
  max-width: fit-content;
  min-width: 300px;
}
.div-mov {
  margin-top: 10px;
  border-radius: 10px;
  margin-left: 0px;
  margin-right: 0px;
  background-color: #59ab62;
  width: 260px;
  height: 200px;
  padding: 20px;
  max-width: fit-content;
  min-width: 200px;

  overflow-y: scroll;
  overflow-x: hidden;
}
.item-mv{
  border-radius: 10px;
  width: 250px;
  height: 40px;
  background-color: #185378;
  align-items: center;
  display: flex;
  justify-content: left;
  flex-direction: column;
  margin-top: 5px;
}
.p1-style{
  font-family: "Press Start 2P", cursive;
  font-size: 12px;
  color: #ffffff;
  text-align: center;
}
.div-title {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  position: fixed;
  background-color: #dc143c;
  border-radius: 10px;
  width: 340px;
  height: 50px;
}
.h3-title {
  font-family: "Press Start 2P", cursive;
  font-size: 16px;
  text-align: center;
  color: #ffffff;
  margin-left: 30px;
}
.h4-name {
  font-family: "Press Start 2P", cursive;
  font-size: 12px;
  color: #0a0909;
  position: absolute;
  margin-top: 190px;
}
.h4-title {
  font-family: "Press Start 2P", cursive;
  font-size: 10px;
  color: #ffffff;
  margin-left: 5px;
  text-align: left;
}
.h4-title2 {
  font-family: "Press Start 2P", cursive;
  font-size: 12px;
  color: #ffffff;
  margin-left: 20px;
  text-align: center;
}
.img-logo {
  width: 50%;
}
.div-logo {
  height: fit-content;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
#searchPoke {
  border-radius: 8px;
  font-family: "Press Start 2P", cursive;
  font-size: 12px;
  height: 20px;
  text-align: center;
}
.div-form {
  height: fit-content;
  align-items: center;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
}
.btn-search {
  background-color: #2e6ab3;
  color: #ffffff;
  font-family: "Press Start 2P", cursive;
  font-size: 12px;
  margin-top: 8px;
  margin-bottom: 8px;
  padding: 10px;
  border-radius: 8px;
}
.def-img {
  height: 150px;
  width: 150px;
}
.h3-warni {
  font-family: "Press Start 2P", cursive;
  font-size: 16px;
  text-align: center;
  margin-left: 30px;
  margin-left: 10px;
  margin-right: 10px;
  color: #fbcc27;
}
progress {
  -webkit-appearance: none;
  margin-top: 10px;
}

#hpval::-webkit-progress-value {
  background-color: #1e90ff;
  border-radius: 6px;
}
#attackval::-webkit-progress-value {
  background-color: #ff7327;
  border-radius: 6px;
}
#defval::-webkit-progress-value {
  background-color: #32cd32;
  border-radius: 6px;
}
::-webkit-progress-bar {
  border-radius: 6px;
  background-color: #ffffff;
}

#speattv::-webkit-progress-value {
  background-color: #8a2be2;
  border-radius: 6px;
}
#spdefv::-webkit-progress-value {
    background-color: #C71585;
    border-radius: 6px;
  }
  #speedv::-webkit-progress-value {
    background-color: #20B2AA;
    border-radius: 6px;
  }
  label{
      text-align: center;
  }
